<!DOCTYPE html>
<html>
<head>
	<title>ds2pdf</title>
</head>
<body>
{% load static %}

<div class="main" x-data="app()">
	<div class="left_div">
		<textarea id="textarea" class="mytextarea" x-model="user_input_text" placeholder="请在此输入您的markdown文本"></textarea>
	</div>

	<div class="right_div">
		<div id="rendered_div" class="rendered_div"></div>
	</div>

	<div class="operations">
		<button class="savebtn" onclick="saveaspdf()">保存为pdf</button>
		<div>
			请选择<br><strong>目标打印机：另存为pdf</strong>
		</div>
		<br>
		<div>
			注意不要禁用缓存（别打开开发者模式就没问题）
		</div>
		<br>
		<div>
			已知BUG：<br>
			**你好**若不能正确渲染为<strong>你好</strong>，请在**...**的左右加上空格
		</div>
	</div>
</div>

</body>

<script>
	const higtlightcss_url = "{% static 'css/highlight.css' %}";
	const ds2pdfcss_url = "{% static 'css/ds2pdf.css' %}";
	const katexcss_url = "https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css";
</script>

<script src="{% static 'js/html2canvas.min.js' %}"></script>
<script src="{% static 'js/jspdf.umd.min.js' %}"></script>

<link href="{% static 'css/ds2pdf.css' %}" rel="stylesheet">

<script src="{% static 'js/md_renderer.js' %}"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>

<script src="{% static 'js/highlight.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/highlight.css' %}">

<script defer src="{% static 'js/mermaid.min.js' %}"></script>
<script src="{% static 'js/my_marked.js' %}"></script>

<script defer src="{% static 'js/ds2pdf.js' %}"></script>

</html>