<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ website_name }}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/highlight.css' %}">
	<link href="{% static 'css/mainsite.css' %}" rel="stylesheet">
	<link href="{% static 'css/mainsite_ex.css' %}" rel="stylesheet">
	<link href="{% static 'css/bg-color.css' %}" rel="stylesheet">
	<link href="{% static 'css/hover-color.css' %}" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"> -->

</head>
<body class="body">
	{% csrf_token %}
	<!-- 主界面 -->
	<div x-data="app()" class="maindiv">

		<!-- 侧边栏 - 历史记录 -->
		<div x-show="!sidebar_hidden" class="sidebar">
			
			<div class="sidebar_top">
				<div class="sidebar_top_1">
					<h3 class="site_title">{{ website_name }}</h3>
					<img class="hide_sidebar_btn" @click="hide_sidebar" src="{% static 'images/hidesidebar.png' %}"></img>
				</div>
				<!-- 新增的生成新对话按钮 -->
				<button @click="createNewChat" class="new_communication" @keydown.window.k=UserPressK(event)>
					新建对话
				</button>
			</div>
			<!-- 历史对话列表，单独设置滚动 -->
			<div class="history_list" id="history_list">
				<template x-for="(diff_item,index) in title_diff_days">
					<div x-show="titles[index].length !== 0">
						<div x-text="diff_item.name" class="time_diff"></div>
						<template x-for="item in titles[index]">
							<div @click="get_communication_content(item.id)"
								class="history_list_item"
								:class="{ 'history_list_item_focus': item.id === cid }"
								x-data = "{private_show_btn : false}"
								@mouseenter="private_show_btn = true"
								@mouseleave="private_show_btn = false">
								<div>
									<div class="history_item_title" x-text="item.title"></div>
								</div>

								<button x-show = "private_show_btn" @click.stop="deleteCommunication(item.id,item.title)" class="delete_communication_btn">❌</button>
								
							</div>
						</template>
					</div>
				</template>
			</div>
			<!-- 个人信息 -->
			<div 
				x-ref="personal_info"
				@click="personal_info_toggleButtons"
				class="personal_info"
			>
				<div class="personal_info_text">个人信息</div>
				
				<!-- 按钮组 -->
				<div x-show="personal_info_showButtons" style="display: none;" class="personal_info_btns">
					<button class="personal_info_btn bg-green-500 hover:bg-green-600" @click="logout">登出</button>
					
					<button class="personal_info_btn bg-red-500 hover:bg-red-600" @click="window.location.href = '{% url 'mainsite:change_password' %}'">修改密码</button>
					
					<button class="personal_info_btn bg-purple-500 hover:bg-purple-600" @click="window.location.href = '{% url 'mainsite:site_mailbox' %}'">联系我们</button>
				</div>
			</div>
		</div>

		<!-- 隐藏后的侧边栏 -->
		<div x-show="sidebar_hidden" style="display: none;" class="hidden_sidebar">
			<img class="show_sidebar_btn" @click="show_sidebar" src="{% static 'images/showsidebar.png' %}"></img>
		</div>

		<!-- 主聊天区域 -->
		<div class="main_communication_area">
			<!-- 顶部横条 -->
	
			<!-- 左侧：语言模型选择框和标题/输入框 -->
			<div class="topbar">
				<!-- 语言模型选择框 -->
				<div>
					<select id="model-select" x-model="selectedModelid" :disabled="in_talk" class="model_select" @change="UserChangeModel(event)">
						<template x-for="(item,index) in models">
							<option :value="`${index}`" x-text="item.name"></option>
						</template>
					</select>
				</div>
				<!-- 标题和输入框 -->
				<div class="communication_title_and_change">
					<!-- 标题 -->
					<div x-show="!isEditingTitle" class="communication_title" x-text="topBarContent"></div>
					<!-- 修改标题按钮 -->
					<button x-show="cid !== -1 && !isEditingTitle" @click="enableEditTitle" class="change_title_btn">
						📝
					</button>
					<!-- 输入框 -->
					<div style="display: none;" x-show="isEditingTitle" class="new_title_input_and_button">
						<input x-model="topBarContent"
								type="text"
								placeholder="输入新标题"
								class="new_title_input"
								id="newTitleInput"
								@keydown.enter="userPressEnterInEditingTitle(event)"
								@blur="saveTitle"
								@keydown.escape="saveTitle">
					</div>
				</div>
			</div>

			<!-- 消息区域 -->
			<div class="communication_area" id="message_area" :class="{ 'hidden': cid === -1 }">
				<div class="communication_area_contract">
					<template x-for="message in messages">
						<div :class="message.role === 'user' ? 'text-right' : 'text-left'"
							 x-data = "{ifenter : false}" 
							 @mouseenter="ifenter = true" 
							 @mouseleave="ifenter = false">
							<div class="message">
								<template x-if="message.role === 'user'">
									<div class="message_user_block">
										<div style="display: none;" x-text="message.content"></div>
										<img class="message_user_copy" src="{% static 'images/copybtn.png' %}" x-show="ifenter" @click="UserCopyMessage(event)"></img>
										<!-- 用户消息样式 -->
										<div class="message_user" x-text="message.content"></div>
									</div>
								</template>
								<template x-if="message.role === 'assistant'">
									
									<div class="message_assistant_and_icon">
										
										<template x-if="message.model === 'deepseek'"><img src="{% static 'images/ds_dialog.png' %}" class="assistant_icon"></template>
										<template x-if="message.model === 'doubao'"><img src="{% static 'images/db_dialog.png' %}" class="assistant_icon"></template>
										<template x-if="message.model === 'openai'"><img src="{% static 'images/oa_dialog.png' %}" class="assistant_icon"></template>
										<template x-if="message.model === 'none'"><img src="{% static 'images/default_dialog.png' %}" class="assistant_icon"></template>

										<!-- Deepseek 助手消息样式 -->
										<div>
											<div class="message_assistant" x-html="marked.parse(message.content)"></div>
											<div class="assistant_user_copy_div">
												<div style="display: none;" x-text="message.content"></div>
												<img class="assistant_user_copy" src="{% static 'images/copybtn.png' %}" x-show="ifenter" @click="UserCopyMessage(event)"></img>
											</div>
											
										</div>
									</div>
									
								</template>
								<template x-if="message.role === 'reasoning'">

									<!-- 深度思考内容样式 -->
									<div class="message_reasoning" x-html="marked.parse(message.content)"></div>
								</template>

								<!-- 等待服务器返回消息，转圈圈 -->
								<template x-if="message.role === 'waiting'">
									<div>
										<template x-if="message.model === 'deepseek'"><img src="{% static 'images/ds_dialog.png' %}" class="assistant_icon"></template>
										<template x-if="message.model === 'doubao'"><img src="{% static 'images/db_dialog.png' %}" class="assistant_icon"></template>
										<template x-if="message.model === 'openai'"><img src="{% static 'images/default_dialog.png' %}" class="assistant_icon"></template>
										<template x-if="message.model === 'none'"><img src="{% static 'images/default_dialog.png' %}" class="assistant_icon"></template>
										<img src="{% static 'images/circle-loading.gif' %}" class="chat_loading_gif">
									</div>
								</template>
							</div>
							
						</div>
					</template>
				</div>
			</div>

			<!-- 输入区域 -->
			<div class="user_input_area">
				<div x-show = "cid === -1" class="input_service_description">
					<div class="input_service_description_line1">
						<img src="{% static 'images/101.png' %}" class="input_service_description_icon">
						<div class="input_service_description_text">我是 {{ website_name }} ，很高兴见到你！</div>
					</div>
					
				</div>
				<form @submit.prevent="sendMessage">
					<div class="user_input_form">
						<div>
							<textarea x-model="inputMessage"
								 type="text"
								 placeholder='输入消息...(按"/"快速输入 按enter发送)'
								 class="user_input_textarea"
								 id="user_input_textarea"
								 @keydown.enter="userPressEnterInSendMessage(event)"
								 @keydown.window.slash=focusOnInput(event)></textarea>
						</div>
						<div>
							<img src="{% static 'images/settings.png' %}" class="settings_btn" @click="UserEnterSettings(event)">

						</div>
						<!-- <button type="submit" class="user_input_submit_btn">发送</button> -->
					</div>
				</form>
				
			</div>
		</div>
		<div style="display: none;" x-show="show_settings" class="settings_background" @keydown.window.escape="CloseSettings()">
			<div class="settings_div" @click.away="CloseSettings()">
				<div style="color: red; font-size: 0.8rem;">
					注意，在这里修改的东西只有在发送消息到服务器后才会写入数据库，切换对话会消失，载入对话时会自动载入数据库中存储的设置
				</div>
				<div>
					<img src="{% static 'images/close.png' %}" class="settings_close_img" @click="CloseSettings()">
				</div>
				
				<div style="display: flex;" x-data = "{show_help : false, is_modify : false}">
					<div>
						<img src="{% static 'images/help.png' %}" class="params_help_img" @mouseenter="show_help = true" @mouseleave="show_help = false">
						<div x-show="show_help" class="params_help">采样温度，介于 0 和 2 之间。更高的值，如 0.8，会使输出更随机，而更低的值，如 0.2，会使其更加集中和确定。 我们通常建议可以更改这个值或者更改 top_p，但不建议同时对两者进行修改。
						<p style="margin: 0px;"></p>
						我们建议您根据如下表格，按使用场景设置 temperature。
						<table><thead><tr><th>场景</th><th>温度</th></tr></thead><tbody><tr><td>代码生成/数学解题</td><td>0.0</td></tr><tr><td>数据抽取/分析</td><td>1.0</td></tr><tr><td>通用对话</td><td>1.3</td></tr><tr><td>翻译</td><td>1.3</td></tr><tr><td>创意类写作/诗歌创作</td><td>1.5</td></tr></tbody></table>
						</div>
					</div>
					<div>temperature</div>
					<input type="range" min="0" max="2" step="0.1" x-model="communication_temperature">
					<div x-show="!is_modify" x-text="Number(communication_temperature).toFixed(1)" @click="is_modify=true;focusByName('communication_temperature_input')" class="params_value"></div>
					
					<input name="communication_temperature_input" x-show="is_modify" @click.away="is_modify=false" type="text" x-model="communication_temperature" class="params_modify_input">
				</div>
				<div style="display: flex;" x-data = "{show_help : false, is_modify : false}">
					<div>
						<img src="{% static 'images/help.png' %}" class="params_help_img" @mouseenter="show_help = true" @mouseleave="show_help = false">
						<div x-show="show_help" class="params_help">
							top_p 作为调节采样温度的替代方案，模型会考虑前 top_p 概率的 token 的结果。所以 0.1 就意味着只有包括在最高 10% 概率中的 token 会被考虑。 我们通常建议修改这个值或者更改 temperature，但不建议同时对两者进行修改。
						</div>
					</div>
					<div>top_p</div>
					<input type="range" min="0" max="1" step="0.1" x-model="communication_top_p">
					<div x-show="!is_modify" x-text="Number(communication_top_p).toFixed(1)" @click="is_modify=true;focusByName('communication_top_p_input')" class="params_value"></div>
					
					<input name="communication_top_p_input" x-show="is_modify" @click.away="is_modify=false" type="text" x-model="communication_top_p" class="params_modify_input">
				</div>
				
				<div style="display: flex;" x-data = "{show_help : false, is_modify : false}">
					<div>
						<img src="{% static 'images/help.png' %}" class="params_help_img" @mouseenter="show_help = true" @mouseleave="show_help = false">
						<div x-show="show_help" class="params_help">
							介于 1 到 8192 间的整数，限制一次请求中模型生成 completion 的最大 token 数。输入 token 和输出 token 的总长度受模型的上下文长度的限制。
						</div>
					</div>
					<div>max_tokens</div>
					<input type="range" min="1" max="8192" step="1" x-model="communication_max_tokens">
					<div x-show="!is_modify" x-text="communication_max_tokens" @click="is_modify=true;focusByName('communication_max_tokens_input')" class="params_value"></div>
					
					<input name="communication_max_tokens_input" x-show="is_modify" @click.away="is_modify=false" type="text" x-model="communication_max_tokens" class="params_modify_input">
				</div>

				<div style="display: flex;" x-data = "{show_help : false, is_modify : false}">
					<div>
						<img src="{% static 'images/help.png' %}" class="params_help_img" @mouseenter="show_help = true" @mouseleave="show_help = false">
						<div x-show="show_help" class="params_help">介于 -2.0 和 2.0 之间的数字。如果该值为正，那么新 token 会根据其在已有文本中的出现频率受到相应的惩罚，降低模型重复相同内容的可能性。</div>
					</div>
					<div>frequency_penalty</div>
					<input type="range" min="-2" max="2" step="0.1" x-model="communication_frequency_penalty">
					<div x-show="!is_modify" x-text="Number(communication_frequency_penalty).toFixed(1)" @click="is_modify=true;focusByName('communication_frequency_penalty_input')" class="params_value"></div>
					
					<input name="communication_frequency_penalty_input" x-show="is_modify" @click.away="is_modify=false" type="text" x-model="communication_frequency_penalty" class="params_modify_input">
				</div>

				<div style="display: flex;" x-data = "{show_help : false, is_modify : false}">
					<div>
						<img src="{% static 'images/help.png' %}" class="params_help_img" @mouseenter="show_help = true" @mouseleave="show_help = false">
						<div x-show="show_help" class="params_help">介于 -2.0 和 2.0 之间的数字。如果该值为正，那么新 token 会根据其是否已在已有文本中出现受到相应的惩罚，从而增加模型谈论新主题的可能性。</div>
					</div>
					<div>presence_penalty</div>
					<input type="range" min="-2" max="2" step="0.1" x-model="communication_presence_penalty">
					<div x-show="!is_modify" x-text="Number(communication_presence_penalty).toFixed(1)" @click="is_modify=true;focusByName('communication_presence_penalty_input')" class="params_value"></div>
					
					<input name="communication_presence_penalty_input" x-show="is_modify" @click.away="is_modify=false" type="text" x-model="communication_presence_penalty" class="params_modify_input">
				</div>

				<div>
					<div style="margin-bottom: 10px;">系统提示词：</div>
					<textarea class="system_content_textarea" x-model="system_content"></textarea>
				</div>
			</div>
		</div>
	</div>
	<!-- <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script> -->
	<script defer src="{% static 'js/alpinejs_min.js' %}"></script>
	<script src="{% static 'js/highlight.js' %}"></script>
	<script src="{% static 'js/axios_min.js' %}"></script>
	<script src="{% static 'js/my_marked.js' %}"></script>
	<script>
		urls = {}
		urls["login"] = "{% url 'mainsite:login' %}";
		urls["logout"] = "{% url 'mainsite:logout' %}";
		urls["talk"] = "{% url 'mainsite:talk' %}";
		urls["get_available_models"] = "{% url 'mainsite:get_available_models' %}";
		urls["get_history"] = "{% url 'mainsite:get_history' %}";
		urls["get_communication_content"] = "{% url 'mainsite:get_communication_content' %}";
		urls["delete_communication"] = "{% url 'mainsite:delete_communication' %}";
		urls["change_communication_title"] = "{% url 'mainsite:change_communication_title' %}";
		urls["copybtn_png"] = "{% static 'images/copybtn.png' %}";
		urls["check_png"] = "{% static 'images/check.png' %}";
		urls["get_params"] = "{% url 'mainsite:get_params' %}";
	</script>
	<script src="{% static 'js/mainsite.js' %}"> </script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css">
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.js"></script>
</body>
</html>