{% extends "mainsite/base_frame.html" %}
{% block title %}
	{{ website_name }}
{% endblock %}

{% block mainbody %}
<div x-data="app()" x-init="init()" class="min-h-screen">
	<!-- 注册模块 -->
	<div class="max-w-md mx-auto mt-20 p-6 bg-white rounded-lg shadow">
		<h2 class="text-2xl font-bold mb-4">用户注册</h2>
		<form @submit.prevent="register">
			<input  x-model="registerForm.username"
					type="text"
					placeholder="用户名"
					class="w-full mb-3 p-2 border rounded" name="username">
			<input  x-model="registerForm.password"
					type="password"
					placeholder="密码"
					class="w-full mb-3 p-2 border rounded" name="password">
			<input  x-model="password_confirm"
					type="password"
					placeholder="确认密码"
					class="w-full mb-3 p-2 border rounded" name="password_confirm">
			<button  type="submit"
					class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">
				注册
			</button>
		</form>
	</div>
</div>

<script>
	function app() {
		return {
			registerForm: {
				csrfmiddlewaretoken: "",
				username: '',
				password: '',
			},
			password_confirm: '',
			init(){
				
			},
			register() {
				if (!this.registerForm.password.trim()){
					alert("密码为空");
					return ;
				}
				if (this.registerForm.password != this.password_confirm){
					alert("两次输入的密码不一样");
					return ;
				}
				this.registerForm.csrfmiddlewaretoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
				const registerParams = new URLSearchParams(this.registerForm);
				axios.post(
					"{% url 'mainsite:register' %}",
					registerParams.toString(),
				)
				.then(response => {
					window.location.href = "{% url 'mainsite:site' %}";
				})
				.catch(error => {
					console.error('注册失败:', error);
					alert("注册失败");
				});
			},

		}
	}
</script>
{% endblock %}
